<<<<<<< HEAD
/** HOME PAGE STYLE **/

/** Navigation **/

/** Banner **/

header.masthead{
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 0 ), url(/assets/Image-2.jpg); 
    background-size: cover;
}

/* .banner-image{
    background-image: url(/assets/Image-2.jpg);
    background-size: cover;
} */

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 100px;
    color: white;
}

.btn{
    background-color: #F7C501;
    width: 250px;
    border-radius: 25px;
}


.signin{
    border-radius: 100px;
    width: 100px;
=======

/* choose_restaurant.html */

.restaurant-1 {
    width: 350px;
    text-align: center;
    border: 5px solid darkgreen;
    border-radius: 20px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.restaurant-1-image {
    width: 500px;
    height: auto;
    text-align: center;
    border: 5px solid darkgreen;
    border-radius: 20px;
    float: left;
    max-width: 100%;
    flex-basis: 40%
>>>>>>> 26fc6a12b6750bb7233a80976f1d6038ed147cb8
}