/* choose_restaurant.html */

/* choose_restaurant.html */

  
    
        p{
        width: 350px;
        text-align: center;
        border: 5px solid darkgreen;
        border-radius: 20px;
        float: right;
        background-image: green;


    
    }

        .restaurant-1-image {
        width: 500px;
        height: auto;
        text-align: center;
        border: 5px solid darkgreen;
        border-radius: 20px;
        float: left;
    }