*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

/** HOME PAGE STYLE **/

/** Banner **/

header{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 0 ), url(https://raw.githubusercontent.com/juliawri/supereats/main/assets/Image-2.jpg); 
    background-size: cover;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 100px;
    color: white;
}

.btn{
    background-color: #F7C501;
    width: 250px;
    border-radius: 25px;
    margin-top: 24px;
}

.navbar-brand{
    max-width: 40px;
}

/* SIGN UP PAGE STYLE */

h3{
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    margin-bottom: 50px;
    font-weight: 700;
    text-align: center;
    color: gray;
}

.wrap-conatiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


form{
    margin: auto 15%;
}


input{
    width: 100%;
    margin: 5px 0px 14px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    height: 30px;;
}
